@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';

@theme {
    --font-sans: 'Plus Jakarta Sans';
    --font-serif: 'Plus Jakarta Sans';
    --font-mono: 'Plus Jakarta Sans';
}

@layer base {
    html,
    :host,
    body {
        font-family: 'Plus Jakarta Sans';
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

[x-cloak] {
    display: none !important;
}
